<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        
        {% block topjs %}
            {#<script type="text/javascript" src="{{asset('bundles/aliansstone/js/jquery-1.11.0.min.js')}}"></script>#}
            <script type="text/javascript" src="{{asset('bundles/aliansstone/assets/custom/js/jquery-1.8.2.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/aliansstone/js/jquery-ui.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/aliansstone/js/fancybox/jquery.fancybox.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/aliansstone/js/fancybox/jquery.fancybox.pack.js')}}"></script>
           
        {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        {% block meta %}{% endblock %}
        <!-- Bootstrap core CSS -->
        <link href="{{asset('bundles/aliansstone/assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
    
        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="themes/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    
    	<!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{{asset('bundles/aliansstone/css/jquery-ui.css')}}" type="text/css" media="screen"/>
        <link rel="stylesheet" href="{{asset('bundles/aliansstone/js/fancybox/jquery.fancybox.css')}}" type="text/css" media="screen"/>
        <link rel="stylesheet" href="{{asset('bundles/aliansstone/assets/custom/css/flexslider.css')}}" type="text/css" media="screen"/>    	
        <link rel="stylesheet" href="{{asset('bundles/aliansstone/assets/custom/css/parallax-slider.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{asset('bundles/aliansstone/assets/font-awesome-4.0.3/css/font-awesome.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{asset('bundles/aliansstone/magnific-popup/style.css')}}" type="text/css" media="screen"/> 
        <!-- Custom styles for this template -->
    	<link rel="stylesheet" href="{{asset('bundles/aliansstone/magnific-popup/magnific-popup.css')}}" type="text/css" media="screen"/>
        <link href="{{asset('bundles/aliansstone/assets/custom/css/business-plate.css')}}" rel="stylesheet"/>
        <link rel="shortcut icon" href="{{asset('bundles/aliansstone/assets/custom/ico/favicon.ico')}}"/>
        <meta name="wot-verification" content="9e622856cd581eb89040"/> 
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "AliansStoneBundle:Front:_header.html.twig" %}
        {% endblock %}
        {% block slider %}{% endblock %}
        
        {% block content %}{% endblock %}
        
        {% block menu %}{% endblock %}
        {% block materials %}{% endblock %}
        
        {% block epigraph %}{% endblock %}
        {% block projects %}{% endblock %}
        
        {% block partners %}
            {% include "AliansStoneBundle:Front:_partners.html.twig" %}
        {% endblock %}
        
        {% block topfooter %}
            {% include "AliansStoneBundle:Front:_topfooter.html.twig" %}
        {% endblock %}
        {% block bottomfooter %}
            {% include "AliansStoneBundle:Front:_bottomfooter.html.twig" %}
        {% endblock %}
        
        {% block javascripts %}
            <!-- JS Global Compulsory -->			
            
            <script type="text/javascript" src="{{asset('bundles/aliansstone/assets/custom/js/modernizr.custom.js')}}"></script>		
            <script type="text/javascript" src="{{asset('bundles/aliansstone/assets/bootstrap/js/bootstrap.min.js')}}"></script>	
             <script type="text/javascript" src="{{asset('bundles/aliansstone/magnific-popup/jquery.magnific-popup.min.js')}}"></script>	
            	<!-- JS Implementing Plugins -->           
            <script type="text/javascript" src="{{asset('bundles/aliansstone/assets/custom/js/jquery.flexslider-min.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/aliansstone/assets/custom/js/modernizr.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/aliansstone/assets/custom/js/jquery.cslider.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/aliansstone/assets/custom/js/back-to-top.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/aliansstone/assets/custom/js/jquery.sticky.js')}}"></script>
            
            <!-- JS Page Level -->           
            <script type="text/javascript" src="{{asset('bundles/aliansstone/assets/custom/js/app.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/aliansstone/assets/custom/js/index.js')}}"></script>
            
            
            <script type="text/javascript">
               jQuery(document).ready(function() {
                    $('#topcontrol').css({'position': 'fixed', 'bottom': '20px', 'right': '20px', 'cursor': 'pointer', 'opacity': '1'});
                   
            
            /**fancybox**/
            
             $("#single_1").fancybox({
              helpers: {
                  title : {
                      type : 'float'
                  }
              }
          });
          
          });
          </script>
            
        {% endblock %}
        
        {% block customjs %}
        
        {% endblock %}
    </body>
</html>