<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
var _tmr = _tmr || [];
_tmr.push({id: "2618072", type: "pageView", start: (new Date()).getTime()});
(function (d, w) {
   var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
   ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
   var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
   if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window);
</script><noscript><div style="position:absolute;left:-10000px;">
<img src="//top-fwz1.mail.ru/counter?id=2618072;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter28194456 = new Ya.Metrika({id:28194456,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28194456" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter —>


<!-- NAVBAR
================================================== -->
	<div class="top">
    <div class="container">
        <div class="row-fluid">
            <ul class="phone-mail">
                <li><i class="fa fa-phone"></i><span>{% if data.settings['tel'] is defined %}{{data.settings['tel']}}{% endif %}</span></li>
                <li>{% if data.settings['email_zakaz'] is defined %}<a href="mailto:{{data.settings['email_zakaz']}}" style="text-decoration: none"><i class="fa fa-envelope"></i><span>{{data.settings['email_zakaz']}}</span></a>{% endif %}</li>
            </ul>
            {#
            <ul class="loginbar">
                <li><a href="#" class="login-btn">Help</a></li>
                <li class="devider">&nbsp;</li>
                <li><a href="#" class="login-btn">Login</a></li>
            </ul>
            #}
        </div>
    </div>
	</div>
	
    <!-- topHeaderSection -->	
    <div class="topHeaderSection">		
    <div class="header">			
		<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url('home_page')}}">
            {% if data.logo_top %}
            <img src="{{data.logo_top.getRelativeLinkToImg}}" alt="Альянс производителей камня" />
            {% endif %}
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="about"><a href="{{url('about')}}">О нас</a></li>
            <li id="partners"><a href="{{url('partners')}}">Наши партнеры</a></li>
            <li id="home"><a href="{{url('home_page')}}">Главная</a></li>
            <li id="service" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Услуги<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{url('material2')}}">Материалы</a></li>
                <li><a href="{{url('arris2')}}">Обработка</a></li>
                <li><a href="{{url('gallery')}}">Мы производим</a></li>
              </ul>
            </li>
            
            <li id="contact"><a href="{{url('contact')}}">Контакты</a></li>
            <li><a id="backcall" href="#">Обратный звонок</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</div>
	</div>
    
    {% include 'AliansStoneBundle:Front:_backcall.form.html.twig' %}
       
