{% extends '::base.front.html.twig' %}
{% block title %}
    {% if data.products %}
        Материалы
    {% else %}
        404 - Page not found
    {% endif %}
{% endblock %}

{% block meta %}
     {% if data.products %}
        <meta name="keywords" content="Натуральный и искусственный камень"/>
        <meta name="description" content="Натуральный и искусственный камень"/>
    {% endif %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('bundles/aliansstone/css/front.style.css')}}" type="text/css" media="screen"/> 
{% endblock %}

{% block content %}
    <hr />
   <div class="wrap">
   {% if data.products %}
        <h1>Наши продукты</h1>
        <table>
        {% for product in data.products %}
           
            <tr>
            <td colspan="2">
                <a href="{{url('product',{id:product.getId})}}"><h2>{{product.getTitle}}</h2></a>
            </td>
            </tr>
            <tr>
                <td><a id="single_1" href="{{product.getRelativeLinkToImg}}"><img class="radius5" src="{{product.getRelativeLinkToThumbnailImg('150')}}"/></a></td>
                <td>{{product.getContent | slice(0,200) | raw | striptags | replace({'&nbsp;':' '})}}...
                    <p><a href="{{url('product',{id:product.getId})}}">Подробнее</a></p>
                </td>
            </tr>
            
        {% endfor %}
        
        </table>
   {% else %}
        {% include 'AliansStoneBundle:Front:404.html.twig' %}
   {% endif %}
    </div>
    

{% endblock %}


{% block customjs %}

{% endblock %}
